<hr data-content="Inscreva-se">
<form style="padding:3px;text-align:center;" action="https://tinyletter.com/geanramos" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/geanramos', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
  <label for="tlemail">Newsletter:</label>
  <input type="text" style="width:140px" name="email" id="tlemail" placeholder="Digite seu e-mail" />
  <input type="hidden" value="1" name="embed"/>
  <input type="submit" value="OK" />
  <br />
  <small>
    cancele quando quiser ou use o <a href="/feed.xml">{feed}</a>
  </small>
</form>